---
import { blog } from "src/lib/markdoc/frontmatter.schema";
import { readAll } from "src/lib/markdoc/read";
import Intro from "../components/Intro.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
import PageLayout from "../layouts/PageLayout.astro";
const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
console.log(sortedPosts);
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE} | Web Ninja`} slot="meta" />
  <Fragment slot="main">
    <Intro />
    <h2 class="text-3xl">Blogs</h2>
    <section class="mt-4">
      <ul>
        {
          sortedPosts.map((post) => {
            const formattedDate = new Date(
              post.frontmatter.date
            ).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            });
            return (
              <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
                <div class="title">
                  {post.frontmatter.external ? (
                    <a
                      href={post.frontmatter.url}
                      target="_blank"
                      class="unset hover:text-text-link"
                    >
                      <span>{post.frontmatter.title}</span>
                      <span>
                        <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                      </span>
                    </a>
                  ) : (
                    <a
                      href={`/blog/${post.slug}`}
                      class="unset hover:text-text-link"
                    >
                      {post.frontmatter.title}
                    </a>
                  )}
                </div>
                <div class="text-text-muted text-sm italic pt-1">
                  <time datetime={post.frontmatter.date.toISOString()}>
                    {formattedDate}
                  </time>
                </div>
              </li>
            );
          })
        }
      </ul>
    </section>
  </Fragment>
</PageLayout>
